<div class="row" >
  <div class="col-md-3">
    <app-sidebar></app-sidebar>
  </div>
  <div class="col-md-9">
    <h1 style="color:red;text-align: center; font-size: 30px;"><b>Que  Table</b></h1>
    <br>
   
  <table class="table table-striped" style="font-size: 20px;text-align: center" >
    <thead style="color:blue; font-size: 25px;">
      <tr>
      <th style="text-align: center">Que Id</th>
      <th style="text-align: center">Que des</th>
      <th style="text-align: center">User Name</th>
      <th style="text-align: center">Ans Date</th>
      </tr>
    </thead>
    <tbody *ngFor="let item of quearr ">
      <tr style="background-color: lightgrey">
      <td>{{item.pk_que_id}}</td>
      <td>{{item.que_desc}}</td>  
      <td>{{item.user_name}}</td>
      <td>
                           <button (click)="deleteque(item)" style="background-color: lightblue" type="button" class="btn btn-default" aria-label="Left Align">
                            <span class="glyphicon glyphicon-trash" aria-hidden="true"></span>
                          </button>
      </td>
     </tr>
    </tbody>
  </table>
  </div>
</div>
