<div class="row" >
  <div class="col-md-3">
    <app-sidebar></app-sidebar>
  </div>
  <div class="col-md-9">
    <h1 style="color:red;text-align: center; font-size: 30px;"><b>Testimonial Table</b></h1>
    <br><br>
   <!--<button (click)="addCat()" type="button" style="height: 40px; width: 40px; background-color:palegreen"> <span class="glyphicon glyphicon-plus" aria-hidden="true"></span></button>-->
  <table class="table table-striped" style="font-size: 20px;text-align: center" >
   
    <thead style="color:blue; font-size: 25px;">
      <tr>
      <th style="text-align: center">Payment ID</th>
      <th style="text-align: center">Email Id</th>
      <th style="text-align: center">Review Description</th>
      <th style="text-align: center">Review Like</th>
      <th style="text-align: center">Action</th>
      </tr>
    </thead>

    <tbody *ngFor="let item of testarr ">
      <tr style="background-color: lightgray">
      <td>{{item.pk_review_id}}</td>
      <td>{{item.fk_email_id}}</td>
      <td>{{item.review_desc}}</td>
      <td>{{item.review_like}}</td>
      
      <td>          
        <button (click)="deleteTestimonial(item)" style="background-color: lightblue" type="button" class="btn btn-default" aria-label="Left Align">
        <span class="glyphicon glyphicon-trash" aria-hidden="true"></span>
        </button>
      </td>
     </tr>
    </tbody>
  </table>
  </div>
</div>
