<div class="row" >
  <div class="col-md-3">
    <app-sidebar></app-sidebar>
  </div>

  <div class="col-md-9">

 <br><br><br>

    <h1 style="color:red;text-align: center; font-size: 30px;"><b>Wallet Table</b></h1>
   <table class="table table-striped" style="font-size: 20px;text-align: center" >

    <thead style="color:blue; font-size: 25px;">
      <tr>
      <th style="text-align: center">Wallet ID</th>
      <th style="text-align: center">User Name</th>
      <th style="text-align: center">Wallet Amount</th>
      <th style="text-align: center">Wallet Date</th> 
      </tr>
    </thead>

    <tbody *ngFor="let item of walarr ">
      <tr style="background-color: lightgray">
      <td>{{item.pk_wallet_id}}</td>
      <td>{{item.user_name}}</td>
      <td>{{item.wallet_amnt}}</td>
      <td>{{item.wallet_date}}</td>
     </tr>
    </tbody>
  </table>
  </div>
</div>
