<div class="row" >
  <div class="col-md-3">
    <app-sidebar></app-sidebar>
  </div>
  <div class="col-md-9">
    <h1 style="color:red;text-align: center; font-size: 30px;"><b>Add City </b></h1>
    <form (ngSubmit)='editcity()' #addform="ngForm">
<div class="input-group">
  <span class="input-group-addon" id="sizing-addon1">City name</span>
  <input name="name" #name='ngModel' [(ngModel)]="city_name" type="text" class="form-control" placeholder="Enter City name"  required>
</div>

<br>
<div [hidden]="name.valid || name.pristine" class="alert alert-danger">
  City name  is required
</div>

<Button type="Submit" class="btn btn-info form-control" [disabled]="!addform.form.valid" name="ADD">ADD</Button>

</form>
  </div>
</div>
