<div id="throbber" style="display:none; min-height:120px;"></div>
<div id="noty-holder"></div>
<div id="wrapper">
    <!-- Navigation -->
    <nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-ex1-collapse">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="http://cijulenlinea.ucr.ac.cr/dev-users/">
                <!--<img src="#" alt="LOGO"">-->
            </a>
        </div>
        <!-- Top Menu Items -->
        <ul class="nav navbar-right top-nav">
            <li><a href="#" data-placement="bottom" data-toggle="tooltip" href="#" data-original-title="Stats"><i class="fa fa-bar-chart-o"></i>
                </a>
            </li>            
            <li class="dropdown">
                <a href="#" class="dropdown-toggle" data-toggle="dropdown">Admin User <b class="fa fa-angle-down"></b></a>
                <ul class="dropdown-menu">
                    <li><a href="#"><i class="fa fa-fw fa-user"></i> Edit Profile</a></li>
                    <li><a href="#"><i class="fa fa-fw fa-cog"></i> Change Password</a></li>
                    <li class="divider"></li>
                    <li><a href="#"><i class="fa fa-fw fa-power-off"></i> Logout</a></li>
                </ul>
            </li>
        </ul>
        <!-- Sidebar Menu Items - These collapse to the responsive navigation menu on small screens -->
        <div class="collapse navbar-collapse navbar-ex1-collapse">
            <ul class="nav navbar-nav side-nav">
                 <li>
                    <a routerLink="/approve"><i class="fa fa-fw fa-user-plus"></i>Approve/Disapprove</a>
                </li>
                <li>
                    <a routerLink="/allevent"><i class="fa fa-fw fa-user-plus"></i>All Event Display</a>
                </li>
                  <li>
                    <a routerLink="/alluser"><i class="fa fa-fw fa-user-plus"></i>All User Details</a>
                </li>
                <li>
                    <a routerLink="/allcat"><i class="fa fa-fw fa-paper-plane-o"></i>All Category</a>
                </li>
                <li>
                    <a routerLink="/allcity"><i class="fa fa-fw fa-paper-plane-o"></i>All City</a>
                </li>
                <li>
                    <a routerLink="/likeevent"><i class="fa fa-fw fa-paper-plane-o"></i>Event Like </a>
                </li>
                <li>
                    <a routerLink="/allreview"><i class="fa fa-fw fa-paper-plane-o"></i>Review of System</a>
                </li>
                <li>
                    <a routerLink="/allque"><i class="fa fa-fw fa fa-question-circle"></i>Event Question</a>
                </li>
                 <li>
                    <a routerLink="/allans"><i class="fa fa-fw fa fa-question-circle"></i>Event Question Answer</a>
                </li>
                 <li>
                    <a routerLink="/allwallet"><i class="fa fa-fw fa fa-question-circle"></i>Wallet Details</a>
                </li>
            </ul>
        </div>
        <!-- /.navbar-collapse -->
    </nav>

   
    <!-- /#page-wrapper -->
</div><!-- /#wrapper -->