
<div class="row" >
  <div class="col-md-3">
    <app-sidebar></app-sidebar>
  </div>
  <div class="col-md-9">
    <br><br><br>
    <h1 style="color:red;text-align: center; font-size: 30px;"><b>Approve Disapprove Event</b></h1>
     <div style="text-align:right;">
     <input  #input1 type="text" (keyup)="0"  placeholder="Search For.."/>
    </div>
  <table class="table table-striped" style="font-size: 20px;text-align: center" >
    <thead style="color:blue; font-size: 25px;">
      <tr>
      <th style="text-align: center"><button (click)="approveall()" style="background-color: lightblue" type="button" class="btn btn-default" aria-label="Left Align">
                            Approve All
         </button></th>
      <th style="text-align: center">Event Name</th>
      <th style="text-align: center">Event Desc</th>
      <th style="text-align: center">Event Price</th>
      <th style="text-align: center">Action</th>
      </tr>
    </thead>
    <tbody>
      <tr style="background-color: lightgray" *ngFor="let item of (eventarr | eventfilter:input1.value) ">      
          <td><input type="checkbox" (change)="addarr(item)"></td>
      <td>{{item.event_name}}</td>
      <td>{{item.event_des}}</td>
      <td>{{item.event_price}}</td>
      <td><button (click)="apevent(item)" style="background-color: lightblue" type="button" class="btn btn-default" aria-label="Left Align">
                                <span class="glyphicon glyphicon-ok" aria-hidden="true"></span>
                          </button>
                           <button (click)="disevent(item)" style="background-color: lightblue" type="button" class="btn btn-default" aria-label="Left Align">
                               <span class="glyphicon glyphicon-remove" aria-hidden="true"></span>
                          </button>
      </td>
     </tr>
    </tbody>
  </table>
  </div>
</div>
