
<div class="row" >
  <div class="col-md-3">
    <app-sidebar></app-sidebar>
  </div>
  <div class="col-md-9">
    <br><br><br>
    <h1 style="color:red;text-align: center; font-size: 30px;"><b>Ans  Table</b></h1>
    <div style="text-align:right;">
     <input  #input1 type="text" (keyup)="0"  placeholder="Search For.."/>
    </div>
   
  <table class="table table-striped" style="font-size: 20px;text-align: center" >
    <thead style="color:blue; font-size: 25px;">
      <tr>
      <th style="text-align: center">Event Name</th>
      <th style="text-align: center">Que des</th>
      <th style="text-align: center">Ans des</th>
      <th style="text-align: center">User Name</th>
      <th style="text-align: center">Action</th>
      </tr>
    </thead>
    <tbody>
     <tr style="background-color: lightgray" *ngFor="let item of (ansarr | anspipe:input1.value) ">
      <td>{{item.event_name}}</td>
      <td>{{item.que_desc}}</td>
      <td>{{item.ans_desc}}</td>  
      <td>{{item.user_name}}</td>
      <td>
                           <button (click)="deleteans(item)" style="background-color: lightblue" type="button" class="btn btn-default" aria-label="Left Align">
                            <span class="glyphicon glyphicon-trash" aria-hidden="true"></span>
                          </button>
      </td>
     </tr>
    </tbody>
  </table>
  </div>
</div>
