<div class="row" >
  <div class="col-md-3">
    <app-sidebar></app-sidebar>
  </div>
  <div class="col-md-9">
    <br><br><br>
    <h1 style="color:red;text-align: center; font-size: 30px;"><b>Edit Answer </b></h1>

    <form (ngSubmit)='editAns()' #addform="ngForm">

<div class="input-group">
  <span class="input-group-addon" id="sizing-addon1">Description</span>
  <input name="name" #name='ngModel' [(ngModel)]="ans_desc" type="text" class="form-control" placeholder="Description"  required>
</div>

<br>
<div [hidden]="name.valid || name.pristine" class="alert alert-danger">
  Description  is required
</div>

<div class="input-group">
  <span class="input-group-addon" id="sizing-addon1">Date</span>
  <input name="dt" #dt='ngModel' [(ngModel)]="ans_date" type="text" class="form-control" placeholder="Date"  required>
</div>

<br>
<div [hidden]="dt.valid || dt.pristine" class="alert alert-danger">
  Date  is required
</div>

<button type="Submit" class="btn btn-info form-control" [disabled]="!addform.form.valid" name="ADD">ADD</button>

</form>
  </div>
</div>
